body {
    background-color: #171f2a;
    text-align: center;
    padding: 0 4%;
}

#pixTitle {
    color: rgb(255, 208, 0);
    text-align: center;
    font-size: 30px;
      font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mypix {
    font-family: verdana;
    font-size: 24px;
    color: white;
}     

#pixColor{
    border-radius: 20px;
}       

#pixbutton{
    border-radius: 12px;
    border: 0;
    background-color: #1f2b39;
    color: rgb(221, 221, 221);
    font-family: verdana;
    font-size: 24px;
    padding: 10px;
}

#pixbutton:hover {
    background-color: #2f465f;
    /* Green */
    color: white;
}
